.input {
    display: block;
    min-width: 200px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #ececec;
    transition: all 250ms linear;
}

.input:focus {
        box-shadow: 0 0 10px grey;
}