.label {
    display: block;
    padding: 10px;
    width: fit-content;
}

.input {
    display: block;
    min-width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #ececec;
    transition: all 250ms linear;
}

.input:focus {
        box-shadow: 0 0 10px grey;
}

.textarea {
    display: block;
    min-width: 200px;
    height: 100px;

    padding: 5px;
    resize: none;
    border: none;
    outline: none;
    background-color: #ececec;
    transition: all 250ms linear;
}

.textarea:focus {
        box-shadow: 0 0 10px grey;
}
